---
title: Услуги
layout: page.njk
tags: pages
permalink: features/index.html
---

<main class="main">
    <h2 class="section__title">Услуги</h2>
    <div class="page-container page-container--features">
        <div class="page-container__cards">
            {% include "features-cards.njk" %}
        </div>
        <div class="page-container__features">
            <p><b>ДП "Цукроавтомат - ИНЖ" предлагает:</b></p>
            <ul>
                <li>оказание технической помощи в вопросах технологии, теплотехники и энергетики в период подготовки объектов к автоматизации и во время производства;</li>
                <li>разработку конструкторской документации систем автоматизации;</li>
                <li>разработку современных алгоритмов управления и программного обеспечения, в том числе и информационных сетей;</li>
                <li>современные отечественные и зарубежные датчики, приборы, аппаратуру и запорно-регулирующую арматуру для систем автоматизации;</li>
                <li>внедрение зарубежных промышленных микропроцессорных контроллеров, компьютеров и видеотерминалов в системы автоматизации;</li>
                <li>комплексную или частичную поставку систем и средств автоматизации;</li>
                <li>авторский надзор за монтажем или монтаж систем автоматизации с поставкой монтажных материалов (по желанию заказчика);</li>
                <li>наладку систем автоматизации;</li>
                <li>сервисное обслуживание систем автоматизации в процессе производства;</li>
                <li>использование традиционных пневматических средств автоматизации;</li>
                <li>обучение персонала заказчика;</li>
                <li>комплекс работ по созданию, инженерному и сервисному обеспечению систем автоматизации на традиционной пневматической и электронной элементной базе;</li>
                <li>разработку и изготовление электронных и пневматических функциональных блоков;</li>
                <li>сервисное обслуживание и ремонт индукционных расходомеров;</li>
                <li>разработку и внедрение энергосберегающих систем отопления и водоснабжения с применением инновационных технологий, таких как солнечные коллекторы и тепловые насосы</li>
            </ul>
        </div>
        </ul>
    </div>
</main>