---
title: О нас
layout: page.njk
permalink: about/index.html
tags: pages
---
<main class="main">
    <h2 class="section__title"> О нас</h2>
    <div class="page-container">
        <img class="page-container__img" src="/img/lic.jpg" alt="Лицензия ДП Цукравтомат Инж">
        <div class="page-container__info">

            <p><b>ДП "Цукроавтомат - ИНЖ"</b> выполняет комплекс работ по автоматизации химико-технологических и теплотехнических процессов сахарных заводов, предприятий пищевой и перерабатывающей промышленности, а также других производств, разработку и внедрение энергосберегающих систем отопления и водоснабжения с применением инновационных технологий.</p>
            <br>
            <p><b>В состав фирмы входят:</b></p>
            <ul>
                <li>конструкторское бюро;</li>
                <li>отдел программирования;</li>
                <li>группа разработки электронных блоков;</li>
                <li>монтажно-наладочный участок;</li>
                <li>промышленная лаборатория.</li>
            </ul>
            <br>
            <p>Предлагая свои услуги по автоматизации производства, мы в максимальной степени стремимся учитывать интересы заказчика. <em>Мы не стремимся к сиюминутной выгоде, а рассчитываем на долгосрочное и обоюдовыгодное сотрудничество</em>. Зная, что заказчика в первую очередь будут волновать вопросы себестоимости, качества и надежности систем автоматизации, мы обычно предлагаем несколько вариантов их исполнения.</p><br>
            <p> <b>Первый вариант</b> предполагает исполнение систем автоматизации полностью на средствах автоматизации и оборудовании от ведущих зарубежных производителей (Schneider Electric, Siemens, Hitachi, Bray, Endress+Hauser, Danfoss и т.д.). Качество их продукции не вызывает сомнений и подтверждается многолетней практикой применения.<br> Если заказчик будет не в состоянии профинансировать такой вариант мы можем предложить <b>второй, более дешевый</b>, когда системы автоматизации выполняются на средствах автоматизации и оборудовании от производителей из стран СНГ (Украины, России и др.).</p><br>
            </p> Качество и надежность продукции этих производителей, с которыми мы работаем многие годы, также находится на достаточно высоком уровне. Возможна также комбинация в разных пропорциях указанных вариантов. Для уменьшения стоимости систем автоматизации может быть применена комбинированная поставка, когда часть средств автоматизации заказчик покупает самостоятельно, по представленной нами спецификации, а другую поставляем мы. Еще один путь удешевления - максимальное использование имеющихся в наличии на сахарном заводе, пригодных для применения, средств автоматизации. В любом случае мы всегда стремились и стремимся проводить гибкую ценовую политику, идти навстречу заказчику, учитывая его финансовое состояние и пожелания.</p>
        </div>
    </div>
</main>